<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-custom-config" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-custom-config</name>
	
	<hook src="scripts/customConfig.js" type="after_prepare"/>
</plugin>
